$background-color: #6290cb;
$white: #ffffff;
$black: #000000;
$font-color: $white;
$light-blue: #89c2ff;
$dark-blue-transparent: #4478bddb;
$dark-blue-semi-transparent: #4478bdc6;
$yellow-to-red-gradient: linear-gradient(to right, rgb(255, 200, 0), orange, red);
$gradient-white-orange-red: linear-gradient(to right, rgb(255, 255, 255), orange, red);
$button-color: #ffffff;
$button-hover-color: #ffffff;
$button-hover-text-color: #4478bddb;