.current-weather {
    width: 300px;
}

.top {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0;
}

.city {
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1;

    margin: 0;
}

.temperature {
    font-size: 64px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;

    margin: 10px 0;
}

.weather-description {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1;
    margin: 0;
}

.temp-range, .min-temp, .max-temp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.max-temp {
    margin-right: 10px;
}

.current-label {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 0;
    margin-right: 5px;

    margin-top: 20px;
}

.current-value {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 0;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
