@import 'colors';

.title {
  background: $gradient-white-orange-red;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 29px;
  font-weight: 800;
  text-align: center;
  margin: 0;
}
