@import 'colors';

.location-button {
  color: $button-color;
  font-size: 20px;
  border: 1.4px solid $button-color;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 5px 10px 0;
  cursor: pointer;

  &:hover {
    background-color: $button-hover-color;
    color: $button-hover-text-color;
  }
}
